@using System.IO
@using System.Web.Hosting
@model AddressBook.DataAccess.Models.Contact

@{
    Layout = "~/Views/Contacts/ContactsBase.cshtml";
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete @Model.FullName?</h3>
<div class="row">
    @if (!string.IsNullOrWhiteSpace(Model.Image) && File.Exists(HostingEnvironment.MapPath("~/uploads/" + Model.Image)))
    {
        <img src="@Url.Content("~/uploads/" + Model.Image)" class="col s12 m2" width="150" alt="@Model.FullName"/>
    }
    else
    {
        <img src="@Url.Content("~/Content/user.png")" class="col s12 m2" width="150" alt="@Model.FullName" />
    }
    <div class="col s12 m10">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h4>@Model.FullName</h4>
                </div>
                <div class="col s12 m12 l12">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @Html.ActionLink("Back to List", "Index", "Home")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <button type="submit" value="Delete" class="waves-effect waves-light btn red right">Delete</button>
    }
</div>